/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .brand,
  .brand:hover {
    margin-left: 2.8rem;
  }

  .nav-item {
    margin-right: 3.6rem;
  }

  .nav-item a {
    font-size: 1.2rem;
  }

  .IntroductionPage {
    width: 100vw;
    height: 51rem;
  }

  .ServicesPage {
    width: 100vw;
    height: 51rem;
  }

  .AboutMePage {
  }

  .ContactPage {
  }
}
